@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

img {
    box-sizing: border-box;
}

//NAVBAR
.navbar {
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem 0 4rem;
    background-color: #1c1c1c;
    img {
        width: 70px;
    }
    nav {
        display: flex;
        gap: 3rem;
        li {
            list-style: none;
            font-size: 1.5rem;
            .menu-li {
                text-decoration: none;
                color: white;
                &.active {
                    color: #97da7b;
                }
            }
        }
    }
}

//PAGE TITLE
.page {
    margin-top: 2rem;
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1.4rem;
        color: #97da7b;
    }

    button {
        font-size: 1.5rem;
        width: 45px;
        height: 45px;
        background-color: #1c1c1c;
        color: #97da7b;
        border: none;
        border-radius: 10px;
        &:hover {
            background-color: #97da7b;
            color: #1c1c1c;
            cursor: pointer;
        }
    }
}

//LINK A
a {
    color: #97da7b;
    text-decoration: none;
    cursor: pointer;
}

//ALBUMS/MUSICIANS
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
    margin: 3rem 0 3rem 0;

    gap: 2rem;
    .resources {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1c1c1c;
        padding: 2.5rem 0 2.5rem 0;

        border-radius: 1.5rem;
    }
    figure {
        img {
            width: 250px;
            margin: 10px 0 10px 0;
        }
    }
    .info {
        color: white;
    }
    .slug {
        font-size: 1.4rem;
    }
}

//FORM
dialog {
    padding: 3rem;
    width: 400px;
    .btn-exit {
        font-size: 1rem;
        width: 30px;
        background-color: #97da7b;
        color: #1c1c1c;
        cursor: pointer;
        border: none;
        border-radius: 7px;
        margin-bottom: 1rem;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .form-data {
            &.required {
                p::after {
                    content: " *";
                }
            }
            input,
            select {
                border-radius: 5px;
                border: 2px solid #97da7b;
                width: 200px;
                outline: none;
            }
        }
        .btn-create {
            margin-top: 1rem;
            display: flex;
            gap: 1rem;

            span {
                background-color: #da7b9b;
                display: inline-block;
                padding: 0.9rem;
                width: 55px;
                height: 18px;
                .disabled {
                    pointer-events: none;
                }
            }
            button {
                background-color: #97da7b;
                border: none;
                font-size: 1rem;
                width: 80px;
                height: 50px;
            }
            span,
            button {
                border-radius: 10px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

//ALBUM/MUSICIAN
.page.album {
    margin-left: 3rem;
    padding: 2rem;
    color: white;
    background-color: black;
    figure {
        img {
            width: 400px;
            margin: 10px 0 10px 0;
        }
    }
    ul {
        margin-left: 1.5rem;
        color: inherit;
    }
    .btn-album {
        display: flex;
        gap: 0.5rem;
    }
    .button {
        color: #1c1c1c;
        border: none;
        font-size: 1.1rem;
        width: 70px;
        margin-top: 0.5rem;
    }
    .green {
        background-color: #97da7b;
    }
    .red {
        background-color: #da7b9b;
    }
}
